/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT    0
#define FUNCTIONS  1
#define NUMBERS    2
#define MOUSE      3
#define NAVIGATION 4
#define SYMBOLS    5
#define SETTINGS   6
#define QWERTY     7
#define GAMING     8
#define GAMING_NUM 9

/ {

/*modmorphs*/
behaviors {
        uspc: space_underscore {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_UNDERSCORE";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp UNDER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

behaviors {
        cscol: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMICOLON";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

behaviors {
        pcol: period_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIOD_COLON";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

behaviors {
        exques: exclamation_questionmark {
            compatible = "zmk,behavior-mod-morph";
            label = "EXCLAMATION_QUESTIONMARK";
            #binding-cells = <0>;
            bindings = <&kp EXCL>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

/*layertap modmorphs*/
behaviors {
        ltmmg: layertap_modmorph_gresc {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERTAP_MODMORPH_GRESC";
            #binding-cells = <2>;
            bindings = <&mo>, <&gresc>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
       };
   };

behaviors {
        ltmms: layertap_modmorph_space {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERTAP_MODMORPH_SPACE";
            #binding-cells = <2>;
            bindings = <&mo>, <&uspc>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
       };
   };

   behaviors {
        ltrpt: layertap_rpt {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERTAP_REPEAT";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
       };
   };

/*homerow mods*/
behaviors {
        lhm: left_positional_home_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_POSITIONAL_HOME_MODS";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;                        // <---[[produces tap if held longer than tapping-term-ms]]
            quick-tap-ms = <100>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;    // <---[[right-hand keys]]
        };
    };

    behaviors {
        rhm: right_positional_home_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_POSITIONAL_HOME_MODS";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;                        // <---[[produces tap if held longer than tapping-term-ms]]
            quick-tap-ms = <100>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;    // <---[[left-hand keys]]
        };
    };

/*reset bootloader modmorph*/

behaviors {
        rst_btldr: reset_bootloader {
            compatible = "zmk,behavior-mod-morph";
            label = "RESET_BOOTLOADER";
            #binding-cells = <0>;
            bindings = <&reset>, <&bootloader>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

/*output key modmorph*/
behaviors {
        out_tog: output_toggle {
            compatible = "zmk,behavior-mod-morph";
            label = "OUTPUT_TOGGLE";
            #binding-cells = <0>;
            bindings = <&out OUT_TOG>, <&kp OUT_BLE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

/*bluetooth clear macros*/
macros {
        clr_bt_0: clr_bt_0 {
            label = "ZM_clr_bt_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 0>
                , <&macro_tap &bt BT_CLR>
                ;
        };
    };

macros {
        clr_bt_1: clr_bt_1 {
            label = "ZM_clr_bt_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 1>
                , <&macro_tap &bt BT_CLR>
                ;
        };
    };

macros {
        clr_bt_2: clr_bt_2 {
            label = "ZM_clr_bt_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 2>
                , <&macro_tap &bt BT_CLR>
                ;
        };
    };

macros {
        clr_bt_3: clr_bt_3 {
            label = "ZM_clr_bt_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 3>
                , <&macro_tap &bt BT_CLR>
                ;
        };
    };

/*bluetooth key modmorphs*/
behaviors {
        bt0: bluetooth_0_clear {
            compatible = "zmk,behavior-mod-morph";
            label = "BLUETOOTH_0_CLEAR";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&clr_bt_0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

behaviors {
        bt1: bluetooth_1_clear {
            compatible = "zmk,behavior-mod-morph";
            label = "BLUETOOTH_1_CLEAR";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&clr_bt_1>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

behaviors {
        bt2: bluetooth_2_clear {
            compatible = "zmk,behavior-mod-morph";
            label = "BLUETOOTH_2_CLEAR";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&clr_bt_2>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

behaviors {
        bt3: bluetooth_3_clear {
            compatible = "zmk,behavior-mod-morph";
            label = "BLUETOOTH_3_CLEAR";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&clr_bt_3>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

/*rgb key modmorphs*/
behaviors {
        rgbeff: rgb_effects {
            compatible = "zmk,behavior-mod-morph";
            label = "RGB_EFFECTS";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFF>, <&rgb_ug RGB_EFR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

behaviors {
        rgbsat: rgb_saturation {
            compatible = "zmk,behavior-mod-morph";
            label = "RGB_SATURATION";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_SAI>, <&rgb_ug RGB_SAD>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

behaviors {
        rgbhue: rgb_effects {
            compatible = "zmk,behavior-mod-morph";
            label = "RGB_HUE";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_HUI>, <&rgb_ug RGB_HUD>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

behaviors {
        rgbbri: rgb_brightness {
            compatible = "zmk,behavior-mod-morph";
            label = "RGB_BRIGHTNESS";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

behaviors {
        rgbtog: rgb_toggle {
            compatible = "zmk,behavior-mod-morph";
            label = "RGB_TOGGLE";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_TOG>, <&rgb_ug RGB_OFF>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };
   };

   keymap {
         compatible = "zmk,keymap";
            default_layer {
                  bindings = <
//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
      &kp C_NEXT      &kp Q         &kp W         &kp F         &kp P         &kp B               &kp J         &kp L         &kp U         &kp Y       &kp APOS     &kp C_VOL_UP
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
      &kp C_PP     &lhm LGUI A   &lhm LALT R   &lhm LCTRL S  &lhm LSHFT T     &kp G               &kp M      &rhm RSHFT N  &rhm RCTRL E  &rhm RALT I   &rhm RGUI O    &kp C_MUTE
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
      &kp C_PREV      &kp Z         &kp X         &kp C         &kp D         &kp V               &kp K         &kp H        &cscol         &pcol        &exques     &kp C_VOL_DN
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||   ||             |             |             |
                                                &ltmmg 1 0  &ltrpt 2 BSPC  &ltrpt 3 DEL         &lt 4 TAB     &ltmms 5 0  &ltrpt 6 ENTER
//                                           |_____________|_____________|_____________||   ||_____________|_____________|_____________|                  
                  >;
               };
            functions_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans       &rst_btldr     &tog 8        &tog 7        &tog 0         &none               &none        &kp F7        &kp F8        &kp F9        &kp F10       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans        &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT      &none               &none        &kp F4        &kp F5        &kp F6        &kp F11       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans         &none         &none         &none         &tog 1        &none               &none        &kp F1        &kp F2        &kp F3        &kp F12       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||   ||             |             |             |
                                                 &trans         &none         &none             &kp TAB       &kp SPACE     &kp ENTER
//                                           |_____________|_____________|_____________||   ||_____________|_____________|_____________|
                  >;
               };
            numbers_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans       &rst_btldr     &tog 8        &tog 7        &tog 0         &none             &kp FSLH        &kp N7        &kp N8        &kp N9       &kp PLUS      &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans        &kp LGUI      &kp LALT     &kp LCTRL     &kp LSHFT       &none            &kp ASTERISK    &kp N4        &kp N5        &kp N6       &kp MINUS      &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans        &none         &none         &none         &tog 2         &none             &kp COMMA      &kp N1        &kp N2        &kp N3       &kp EQUAL      &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||   ||             |             |             |
                                                  &none        &trans         &none             &kp PERIOD     &kp N0       &kp ENTER
//                                           |_____________|_____________|_____________||   ||_____________|_____________|_____________|
                  >;
               };
            mouse_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans       &rst_btldr     &tog 8        &tog 7        &tog 0         &none              &kp SLCK       &none         &none         &none         &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans        &kp LGUI      &kp LALT     &kp LCTRL     &kp LSHFT       &none             &kp PSCRN       &none         &none         &none         &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans        &none         &none         &none         &tog 3         &none          &kp PAUSE_BREAK    &none         &none         &none         &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||   ||             |             |             |
                                                  &none         &none        &trans               &none         &none         &none
//                                           |_____________|_____________|_____________||   ||_____________|_____________|_____________|                
                  >;
               };
            navigation_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans        &kp HOME     &kp PG_UP     &kp PG_DN      &kp END       &kp INS              &none         &tog 0        &tog 7        &tog 8      &rst_btldr     &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans        &kp LEFT      &kp UP        &kp DOWN     &kp RIGHT     &kp CAPS              &none       &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans       &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp LC(Y)             &none        &tog 4         &none         &none         &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||   ||             |             |             |
                                                 &kp ESC       &kp BSPC      &kp DEL              &none         &none        &trans
//                                           |_____________|_____________|_____________||   ||_____________|_____________|_____________|                
                  >;
               };
            symbols_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans       &kp FSLH      &kp LBRC       &kp LBKT     &kp LPAR       &kp LT               &none         &tog 0        &tog 7        &tog 8      &rst_btldr     &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans       &kp PIPE      &kp CARET      &kp HASH     &kp DOLLAR   &kp PERCENT            &none       &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans       &kp BSLH      &kp RBRC      &kp RBKT      &kp RPAR       &kp GT               &none        &tog 5         &none         &none         &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||   ||             |             |             |
                                                &kp TILDE      &kp AMPS      &kp AT               &none        &trans         &none
//                                           |_____________|_____________|_____________||   ||_____________|_____________|_____________|                
                  >;
               };
            settings_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans        &none          &none         &none         &none         &none               &none         &tog 0        &tog 7        &tog 8      &rst_btldr     &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans         &bt0          &bt1          &bt2          &bt3        &out_tog              &none       &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans        &rgbeff       &rgbsat       &rgbhue       &rgbbri       &rgbtog              &none         &tog 6        &none         &none         &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||   ||             |             |             |
                                                 &kp ESC       &kp BSPC      &kp DEL              &trans        &none         &none
//                                           |_____________|_____________|_____________||   ||_____________|_____________|_____________|                
                  >;
               };
            qwerty_layer {
                  bindings = <
//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
      &kp C_NEXT      &kp Q         &kp W         &kp E         &kp R         &kp T               &kp Y         &kp U         &kp I         &kp O         &kp P      &kp C_VOL_UP
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
      &kp C_PP     &lhm LGUI A   &lhm LALT S   &lhm LCTRL D  &lhm LSHFT F     &kp G               &kp H      &rhm RSHFT J  &rhm RCTRL K  &rhm RALT L  &rhm RGUI APOS  &kp C_MUTE
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
      &kp C_PREV      &kp Z         &kp X         &kp C         &kp V         &kp B               &kp N         &kp M        &cscol         &pcol        &exques     &kp C_VOL_DN
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||   ||             |             |             |
                                                &ltmmg 1 0    &lt 2 BSPC    &lt 3 DEL           &lt 4 TAB     &ltmms 5 0   &lt 6 ENTER
//                                           |_____________|_____________|_____________||   ||_____________|_____________|_____________|                  
                  >;
               };
            gaming_layer {
                  bindings = <
//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &kp TAB        &kp Q         &kp W         &kp E         &kp R         &kp T               &kp Y         &kp U         &kp I         &kp O         &kp P      &kp C_VOL_UP
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
      &kp LSHFT       &kp A         &kp S         &kp D         &kp F         &kp G               &kp H         &kp J         &kp K         &kp L       &kp APOS      &kp C_MUTE
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
      &kp LCTRL       &kp Z         &kp X         &kp C         &kp V         &kp B               &kp N         &kp M        &cscol         &pcol        &exques     &kp C_VOL_DN
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||   ||             |             |             |
                                                  &mo 9       &kp SPACE      &kp ESC            &kp ENTER     &kp BSPC      &kp DEL
//                                           |_____________|_____________|_____________||   ||_____________|_____________|_____________|                  
                  >;
               };

            gaming_num_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &trans        &trans        &trans        &trans        &trans         &trans              &none         &tog 0        &tog 7        &tog 8      &rst_btldr      &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5         &trans             &trans        &trans        &trans        &trans        &trans         &trans   
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||   ||             |             |             |             |             |             |
       &kp N6        &kp N7        &kp N8        &kp N9        &kp N0         &trans             &trans        &tog 9        &trans        &trans        &trans         &trans   
// |_____________|_____________|_____________|_____________|_____________|_____________||   ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||   ||             |             |             |
                                                 &trans        &trans         &trans             &trans        &trans        &trans    
//                                           |_____________|_____________|_____________||   ||_____________|_____________|_____________|
                     >;
               };
         };
   };