/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT    0
#define MEDIA      1
#define NUMBERS    2
#define MOUSE      3
#define NAVIGATION 4
#define SYMBOLS    5
#define FUNCTION   6
#define LSHIFT     7
#define RSHIFT     8
#define SMEDIA     9
#define QWTY       10

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <                
//  ______________________________________________________________________         ________________________________________________________________________
// |           |           |           |           |           |           ||     ||           |           |           |           |           |           |
    &kp none     &kp Q         &kp W       &kp F       &kp P       &kp B               &kp J       &kp L       &kp U       &kp Y      &kp SQT    &kp none
// |___________|___________|___________|___________|___________|___________||     ||___________|___________|___________|___________|___________|___________|
// |           |           |           |           |           |           ||     ||           |           |           |           |           |           |
    &kp none    &mt LGUI A  &mt LALT R  &mt LCTRL S   &lt 7 T      &kp G               &kp M      &lt 8 N   &mt RCTRL E  &mt RALT I  &mt RGUI O  &kp none
// |___________|___________|___________|___________|___________|___________||     ||___________|___________|___________|___________|___________|___________|
// |           |           |           |           |           |           ||     ||           |           |           |           |           |           |
    &kp none       &kp Z       &kp X       &kp C       &kp D       &kp V               &kp K       &kp H     &kp COMMA    &kp DOT     &kp EXCL   &kp none
// |___________|___________|___________|___________|___________|___________||     ||___________|___________|___________|___________|___________|___________|
//                                     |           |           |           ||     ||           |           |           |
                                         &lt 1 ESC   &lt 2 SPC   &lt 3 TAB           &lt 4 RTN  &lt 5 BSPC   &lt 6 DEL
//                                     |___________|___________|___________||     ||___________|___________|___________|                  
                        >;
                };
                media_layer {
                     bindings = <

//  _______________________________________________________________________        _______________________________________________________________________
// |           |           |           |           |           |           ||     ||           |           |           |           |           |           |
     &kp BTLDR    &kp none    &kp none    &kp none    &kp none    &kp none            &kp none    &kp none    &kp none    &kp none    &kp none   &kp none
// |___________|___________|___________|___________|___________|___________||     ||___________|___________|___________|___________|___________|___________|
// |           |           |           |           |           |           ||     ||           |           |           |           |           |           |
     &kp none     &kp none    &kp none    &kp none    &kp none    &kp none            &kp none    &kp none    &kp none    &kp none    &kp none   &kp none
// |___________|___________|___________|___________|___________|___________||     ||___________|___________|___________|___________|___________|___________|
// |           |           |           |           |           |           ||     ||           |           |           |           |           |           |
     &kp none     &kp none    &kp none    &kp none    &kp none    &kp none            &kp none    &kp none    &kp none    &kp none    &kp none   &kp none
// |___________|___________|___________|___________|___________|___________||     ||___________|___________|___________|___________|___________|___________|
//                                     |           |           |           ||     ||           |           |           |
                                          &kp none    &kp none    &kp none            &kp none    &kp none    &kp none
//                                     |___________|___________|___________||     ||___________|___________|___________|                  
                        >;
                };
                number_layer {
                     bindings = <

//  _______________________________________________________________________        _______________________________________________________________________
// |           |           |           |           |           |           ||     ||           |           |           |           |           |           |
     &kp BTLDR    &kp none    &kp none    &kp none    &kp none    &kp none            &kp none    &kp none    &kp none    &kp none    &kp none   &kp none
// |___________|___________|___________|___________|___________|___________||     ||___________|___________|___________|___________|___________|___________|
// |           |           |           |           |           |           ||     ||           |           |           |           |           |           |
     &kp none     &kp none    &kp none    &kp none    &kp none    &kp none            &kp none    &kp none    &kp none    &kp none    &kp none   &kp none
// |___________|___________|___________|___________|___________|___________||     ||___________|___________|___________|___________|___________|___________|
// |           |           |           |           |           |           ||     ||           |           |           |           |           |           |
     &kp none     &kp none    &kp none    &kp none    &kp none    &kp none            &kp none    &kp none    &kp none    &kp none    &kp none   &kp none
// |___________|___________|___________|___________|___________|___________||     ||___________|___________|___________|___________|___________|___________|
//                                     |           |           |           ||     ||           |           |           |
                                          &kp none    &kp none    &kp none            &kp none    &kp none    &kp none
//                                     |___________|___________|___________||     ||___________|___________|___________|
                        >;
                };
        };
};
