/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*defines*/

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10   // default: 10
#include <behaviors.dtsi>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define FUNC 1
#define NUM  2
#define MED  3
#define NAV  4
#define HYPER LS(LC(LG(LALT)))
#define MEH   LS(LC(LALT))

/ {

/*capsword*/

        caps: capsword {
            compatible = "zmk,behavior-caps-word";
            display-name = "CAPSWORD";
            #binding-cells = <0>;
            continue-list = <UNDER MINUS BSPC DEL>;
                       };

   behaviors {

/*sticky mods*/

           sm: sticky_mods {
                   compatible = "zmk,behavior-sticky-key";
                   display-name = "STICKY_MODS";
                   #binding-cells = <1>;
                   bindings = <&kp>;
                   release-after-ms = <2000>;
                   ignore-modifiers;
                           };

/*base modmorphs*/

        csco: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            display-name = "COMMA_SEMICOLON";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
                              };

        pco: period_colon {
            compatible = "zmk,behavior-mod-morph";
            display-name = "PERIOD_COLON";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
                          };

        quex: question_exclamation {
            compatible = "zmk,behavior-mod-morph";
            display-name = "QUESTION_EXCLAMATION";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
                                   };

        tgra: tilde_grave {
            compatible = "zmk,behavior-mod-morph";
            display-name = "TILDE_GRAVE";
            #binding-cells = <0>;
            bindings = <&kp TILDE>, <&kp GRAVE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
                              };

/*mod holdtap keys*/

        mhl: mod_holdtap_left {
            compatible = "zmk,behavior-hold-tap";
            display-name = "MOD_HOLDTAP_LEFT";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <125>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>; // List of keys on the right side of the keyboard
            hold-trigger-on-release;            
                              };
        mhr: mod_holdtap_right {
            compatible = "zmk,behavior-hold-tap";
            display-name = "MOD_HOLDTAP_RIGHT";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <125>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20>; // List of keys on the left side of the keyboard
            hold-trigger-on-release;            
                               };

/*layer holdtap keys*/

        lht: layer_holdtap {
            compatible = "zmk,behavior-hold-tap";
            display-name = "LAYER_HOLDTAP";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <150>;
            quick-tap-ms = <200>;
            bindings = <&mo>, <&kp>;
                           };
             };

   keymap {
         compatible = "zmk,keymap";
            base_layer {
                  display-name = "5N7H";
                  bindings = <
//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
     &kp C_VOL_UP     &kp X         &kp P         &kp D         &kp M         &kp Z              &kp J         &kp W         &kp O         &kp U         &pco       &kp C_NEXT
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
      &kp C_MUTE      &kp S         &kp N         &kp T         &kp H         &kp L              &kp Y         &kp C         &kp A         &kp E         &kp I       &kp C_PP
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
     &kp C_VOL_DN     &kp F         &kp B         &kp K         &kp V         &kp Q            &kp APOS        &kp G         &tgra         &quex         &csco      &kp C_PREV
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                              &lht FUNC TAB  &mhl LSFT R  &lht NUM BSPC      &lht MED DEL &mhr RSFT SPACE &lht NAV ENTER
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|                  
                             >;
                       };
            function_layer {
                    display-name = "FUNC710N";
                    bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans         &none         &none         &none         &none         &none            &kp PSCRN      &kp F7        &kp F8        &kp F9        &kp F10       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans       &sm LGUI      &sm LALT      &sm LCTRL     &sm LSFT        &caps             &kp ESC       &kp F4        &kp F5        &kp F6        &kp F11       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans         &none         &none         &none         &none         &none         &kp PAUSE_BREAK   &kp F1        &kp F2        &kp F3        &kp F12       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                 &trans       &sys_reset   &bootloader          &kp DEL      &kp SPACE     &kp ENTER
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|
                               >;
                             };
            numsym_layer {
                  display-name = "N#M-SYM";
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans       &kp LBRC      &kp RBRC      &kp LBKT      &kp RBKT      &kp BSLH           &kp FSLH        &kp N7        &kp N8        &kp N9      &kp ASTRK       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans       &kp AMPS      &kp DLLR      &kp HASH       &kp AT       &kp UNDER          &kp MINUS       &kp N4        &kp N5        &kp N6      &kp PLUS        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &kp LT        &kp GT       &kp LPAR      &kp RPAR      &kp PIPE           &kp CARET       &kp N1        &kp N2        &kp N3      &kp PRCNT       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                  &none         &none        &trans             &kp DOT        &kp N0      &kp EQUAL
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|
                             >;
                         };
            media_layer {
                    display-name = "M3D14";
                    bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans      &bt BT_CLR       &none         &none         &none         &none              &none      &kp C_PREV    &kp C_NEXT     &kp C_PP        &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &out OUT_TOG          &none      &kp C_VOL_DN  &kp C_VOL_UP   &kp C_MUTE      &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans         &none         &none         &none         &none         &none              &none      &kp C_BRI_DN  &kp C_BRI_UP     &none         &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                 &kp TAB        &kp R        &kp BSPC           &trans         &none         &none
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|
                    >;
                         };
            navigation_layer {
                    display-name = "N4V19473";
                    bindings = <
//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans       &kp RC(A)     &kp PG_UP      &kp UP       &kp PG_DN     &kp RC(C)            &none         &none         &none         &none         &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans       &kp RC(Z)     &kp LEFT      &kp DOWN      &kp RIGHT     &kp RC(V)            &caps       &sm RSFT      &sm RCTRL     &sm RALT      &sm RGUI       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans       &kp RC(Y)     &kp HOME       &kp INS       &kp END      &kp RC(X)            &none         &none         &none         &none         &none        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                 &kp TAB        &kp R        &kp BSPC         &bootloader    &sys_reset     &trans
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|
                               >;
                           };
          };
  };
