/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*defines*/
#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // default: 10
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <../boards/shields/corne/boards/nice_nano_v2.overlay>

#define DEF     0
#define TOP     1
#define BOT     2
#define SYM     3
#define FUN_NUM 4
#define NAV_MED 5
#define SET     6


&led_strip {
    chain-length = <27>;
};

/ {

   behaviors {

/*modmorphs*/

        cscol: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            display-name = "COMMA_SEMICOLON";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };

        pcol: period_colon {
            compatible = "zmk,behavior-mod-morph";
            display-name = "PERIOD_COLON";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        quex: question_exclamation {
            compatible = "zmk,behavior-mod-morph";
            display-name = "QUESTION_EXCLAMATION";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
       };

/*quicktap functions*/

        ltrpt: layertap_repeat {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
            quick-tap-ms = <200>;
            display-name = "LAYERTAP_REPEAT";
       };

        mtrpt: modtap_repeat {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
            quick-tap-ms = <200>;
            display-name = "MODTAP_REPEAT";
       };

/*output key holdtap*/

        ot: output_toggle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&out>, <&out>;
            display-name = "OUTPUT_TOGGLE";
       };

/*bluetooth key holdtaps*/

        bt0: bluetooth_0_clear {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&clr_bt_0>, <&sel_bt_0>;
            display-name = "BLUETOOTH_0_CLEAR";
       };

        bt1: bluetooth_1_clear {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&clr_bt_1>, <&sel_bt_1>;
            display-name = "BLUETOOTH_1_CLEAR";
       };

        bt2: bluetooth_2_clear {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&clr_bt_2>, <&sel_bt_2>;
            display-name = "BLUETOOTH_2_CLEAR";
       };

        bt3: bluetooth_3_clear {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&clr_bt_3>, <&sel_bt_3>;
            display-name = "BLUETOOTH_3_CLEAR";
       };

        bt4: bluetooth_4_clear {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&clr_bt_4>, <&sel_bt_4>;
            display-name = "BLUETOOTH_4_CLEAR";
       };
   };

   macros {

/*bluetooth press macros*/

        sel_bt_0: sel_bt_0 {
            display-name = "ZM_sel_bt_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 0>
                ;
        };

        sel_bt_1: sel_bt_1 {
            display-name = "ZM_sel_bt_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 1>
                ;
        };

        sel_bt_2: sel_bt_2 {
            display-name = "ZM_sel_bt_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 2>
                ;
        };

        sel_bt_3: sel_bt_3 {
            display-name = "ZM_sel_bt_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 3>
                ;
        };

        sel_bt_4: sel_bt_4 {
            display-name = "ZM_sel_bt_4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 4>
                ;
        };

/*bluetooth clear macros*/

        clr_bt_0: clr_bt_0 {
            display-name = "ZM_clr_bt_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 0>
                , <&macro_tap &bt BT_CLR>
                ;
        };

        clr_bt_1: clr_bt_1 {
            display-name = "ZM_clr_bt_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 1>
                , <&macro_tap &bt BT_CLR>
                ;
        };

        clr_bt_2: clr_bt_2 {
            display-name = "ZM_clr_bt_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 2>
                , <&macro_tap &bt BT_CLR>
                ;
        };

        clr_bt_3: clr_bt_3 {
            display-name = "ZM_clr_bt_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 3>
                , <&macro_tap &bt BT_CLR>
                ;
        };

        clr_bt_4: clr_bt_4 {
            display-name = "ZM_clr_bt_4";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &bt BT_SEL 4>
                , <&macro_tap &bt BT_CLR>
                ;
        };
    };

   keymap {
         compatible = "zmk,keymap";
            def_layer {
                  bindings = <
//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &trans        &trans        &trans        &trans        &trans             &trans        &trans        &trans        &trans        &trans        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans     &mtrpt LALT A   &ltrpt 1 R    &ltrpt 2 S  &mtrpt LCTRL T &mtrpt LGUI D    &mtrpt LGUI H  &mtrpt LCTRL N  &ltrpt 2 E   &ltrpt 1 I   &mtrpt RALT O    &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &trans        &trans        &trans        &trans        &trans             &trans        &trans        &trans        &trans        &trans        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                 &trans     &ltrpt 3 BSPC &ltrpt 4 DEL     &ltrpt 5 TAB &mtrpt RSHFT SPACE  &trans
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|                  
                  >;
               };
            top_layer {
                  bindings = <
//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &trans        &trans        &trans        &trans        &trans             &trans        &trans        &trans        &trans        &trans        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans         &kp Q         &kp W         &kp F         &kp P         &kp G              &kp J         &kp L         &kp U         &kp Y       &kp APOS       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &trans        &trans        &trans        &trans        &trans             &trans        &trans        &trans        &trans        &trans        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                 &trans     &ltrpt 3 BSPC &ltrpt 4 DEL     &ltrpt 5 TAB &mtrpt RSHFT SPACE   &trans
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|                  
                  >;
               };
            bot_layer {
                  bindings = <
//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &trans        &trans        &trans        &trans        &trans             &trans        &trans        &trans        &trans        &trans        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans         &kp Z         &kp X         &kp C         &kp V         &kp B              &kp K         &kp M        &cscol         &pcol         &quex        &trans 
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &trans        &trans        &trans        &trans        &trans             &trans        &trans        &trans        &trans        &trans        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                 &trans     &ltrpt 3 BSPC &ltrpt 4 DEL     &ltrpt 5 TAB &mtrpt RSHFT SPACE   &trans
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|                  
                  >;
               };
            sym_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans       &kp GRAVE     &kp TILDE      &trans        &trans        &trans             &trans        &trans        &trans       &kp UNDER     &kp EQUAL      &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans       &kp PIPE       &kp AT       &kp HASH      &kp DLLR      &kp PRCNT          &kp CARET     &kp AMPS      &kp STAR      &kp MINUS      &kp PLUS      &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &kp LT       &kp LBRC      &kp LBKT      &kp LPAR      &kp BSLH           &kp FSLH      &kp RPAR       &kp RBKT     &kp RBRC       &kp GT        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                 &trans        &trans        &trans             &trans        &trans        &trans
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|                
                  >;
               };
            fun_num_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans         &kp F1       &kp F2        &kp F3        &kp F4        &trans            &kp FSLH       &kp N7        &kp N8        &kp N9       &kp MINUS      &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5             &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans         &kp F9       &kp F10       &kp F11       &kp F12       &trans            &kp PRCNT      &kp N1        &kp N2        &kp N3        &kp RET       &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                  &trans       &trans        &trans             &cscol        &kp N0         &pcol  
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|
                  >;
               };
            nav_med_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &trans      &kp C_BRI_UP  &kp C_BRI_DN    &trans        &trans             &trans        &trans       &mkp MB4      &mkp MB5       &trans        &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &kp HOME     &kp PG_UP     &kp PG_DN      &kp END       &kp INS            &trans        &kp LEFT      &kp UP       &kp DOWN      &kp RIGHT      &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
       &trans        &kp HOME     &kp PG_UP     &kp PG_DN      &kp END       &kp INS          &kp PSCRN   &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT  &trans
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                 &trans        &trans        &trans            &mkp MB3      &mkp MB1      &mkp MB2
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|
                  >;
               };    
            set_layer {
                  bindings = <

//  ___________________________________________________________________________________       ___________________________________________________________________________________
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
&ot OUT_USB OUT_TOG &bt0 0 0      &bt1 0 0      &bt2 0 0      &bt3 0 0      &bt4 0 0           &bt0 0 0      &bt1 0 0      &bt2 0 0      &bt3 0 0      &bt4 0 0  &ot OUT_USB OUT_TOG
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
&rgb_ug RGB_TOG &rgb_ug RGB_EFF &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_SPI &rgb_ug RGB_SPI &rgb_ug RGB_BRI &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_EFF &rgb_ug RGB_TOG
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
// |             |             |             |             |             |             ||  ||             |             |             |             |             |             |
&ext_power EP_TOG &rgb_ug RGB_EFR &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_SPD &rgb_ug RGB_SPD &rgb_ug RGB_BRD &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_EFR &ext_power EP_TOG
// |_____________|_____________|_____________|_____________|_____________|_____________||  ||_____________|_____________|_____________|_____________|_____________|_____________|
//                                           |             |             |             ||  ||             |             |             |
                                                 &trans      &sys_reset    &bootloader        &bootloader   &sys_reset      &trans
//                                           |_____________|_____________|_____________||  ||_____________|_____________|_____________|
                  >;
               };
         };
   };
